<img alt='' src='uploads/{{user_id}}/{{id}}{{content}}' title='Hover for details'/>
<div class='info'>
	<a href='' title='click to delete' class="icon remove"></a>
	<!--<a href='#edit/{{id}}' title='click to edit' class="icon cog"></a>-->
	<p class='description'>{{description}}</p>
</div>